<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pop Figure</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1>Pop Shop</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container" id="content">
    <h2>Add a New Figure</h2>
    <form th:action="@{/add}" method="post">
        <input type="text" name="name" placeholder="Figure Name" required>
        <input type="text" name="theme" placeholder="Figure Theme" required>
        <button type="submit">Add Figure</button>
    </form>
</div>
</body>
</html>
